<section>
  <h1>Weather for <%= @forecast.address.display_address %></h1>

  <h3>Current</h3>

  <h5>Time</h5>
  <%= @current_weather.dt %>

  <h5>Temp</h5>
  <%= "#{@current_weather.main.temp} 째F" %>

  <h5>Feels Like</h5>
  <%= "#{@current_weather.main.feels_like} 째F" %>

  <h5>High</h5>
  <%= "#{@current_weather.main.temp_max} 째F" %>

  <h5>Low</h5>
  <%= "#{@current_weather.main.temp_min} 째F" %>

  <h5>Humidity</h5>
  <%= "#{@current_weather.main.humidity}%" %>

  <h5>Pressure</h5>
  <%= "#{@current_weather.main.pressure} hpa" %>
</section>
