<section>
  <h1>Weather for <%= @forecast.address.display_address %></h1>

  <h3>
    Current
    <% if @cached %>
     <span>(cached)</span>
    <% end %>
  </h3>

  <h4><%= @forecast.weather_description.titleize %></h4>

  <h5>Temp: <%= "#{@forecast.temp} 째F" %></h5>

  <h5>Feels Like: <%= "#{@forecast.feels_like} 째F" %></h5>

  <h5>High: <%= "#{@forecast.temp_max} 째F" %></h5>

  <h5>Low: <%= "#{@forecast.temp_min} 째F" %></h5>

  <h5>Humidity: <%= "#{@forecast.humidity}%" %></h5>

  <h5>Pressure: <%= "#{@forecast.pressure} hpa" %></h5>

  <h6 class="mt-3">Time Measured <%= @forecast.dt %></h6>
</section>

<section class="mt-3">
  <%= link_to "Get New Weather", root_url %>
</section>
